<html lang="ru"> <!-- Язык сайта - русский -->
  <head>   
    {% include 'includes/head.html' %}
    <title>
      {% block title %}
        Это главная страница.
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
        {% include 'includes/header.html' %}
    </header>
    <main>
      <!-- подключение блока main из основного шаблона приложения -->
      {% block content %}
        Контент не подвезли :(
      {% endblock %}
    </main>
    <footer>
      <!-- подключние шаблона footer -->
        {% include 'includes/footer.html' %} 
    </footer>
  </body>
</html>